@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

html,body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.comments-collapsed {
  max-height: 0;
  transition: max-height 2s ease-out;
  overflow: hidden;
}

.comments-expanded {
  max-height: 400px; /* This should be roughly equivalent to 2/5 of the screen height, adjust as needed */
  transition: max-height 2s ease-in;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.player {
  background: #d13741 url(http://frontendfreecode.com/img/red-bg.jpg) fixed
    center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.player__title {
  font-size: 2em;
  color: white;
  margin-bottom: 7.5rem;
}
.player__wave {
  position: absolute;
  top: calc(50% + 3.75rem);
  left: 0;
  transform: translateY(-50%);
}
.player__items {
  max-width: 73.75rem;
  width: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: space-between;
}
.audio-bubble {
  width: 15%;
  margin: 0;
  min-width: 8rem;
}
.audio-bubble--active .audio-bubble__button {
  transform: scale(2);
}
.audio-bubble__button {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: black;
  aspect-ratio: 1/1;
  cursor: pointer;
  outline: 0;
  border: 2px solid #a429c3;
  border-radius: 50%;
  padding: 0;

  position: relative;
  margin-bottom: 1.5rem;
}
.audio-bubble__image {
  border-radius: 50%;
  transition: opacity 0.4s ease;
}
.audio-bubble:not(.audio-bubble--active):hover .audio-bubble__image {
  opacity: 0.75;
}
.audio-bubble__meta {
  color: white;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.audio-bubble--active .audio-bubble__meta {
  transform: translateY(4.5rem);
}
.audio-bubble__progress {
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  transform: rotate(-90deg);
}
.audio-bubble__progress circle {
  stroke: #cfd72f;
  stroke-dasharray: 608;
}
.audio-bubble:not(.audio-bubble--active) .audio-bubble__progress {
  opacity: 0;
}
.audio-bubble__play,
.audio-bubble__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.audio-bubble__play {
  width: 17.5%;
}
.audio-bubble__pause {
  width: 12%;
}
.audio-bubble__title {
  font-weight: bold;
  margin-bottom: 0.375rem;
}
.audio-bubble__subtitle {
  font-size: 0.875em;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: rgb(68, 68, 68);
    background: black;
  }
}

/* Fade In */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* Dot transformation and explosion */
.fade-exit {
  opacity: 1;
  transform: scale(1);
  width: 100%;
  height: auto;
  border-radius: 0%;
}

.fade-exit-active {
  opacity: 0.01;
  transform: scale(2.5);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: opacity 500ms ease-in, transform 500ms ease-in,
    width 500ms ease-in, height 500ms ease-in;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

/* animations.css */
@keyframes animateSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#notebook-paper {
  width: 400px;
  height: 600px;
  padding-left: 33px;
  padding-right: 10px;
  background: linear-gradient(to bottom, white 29px, #00b0d7 1px);
  margin: 10px auto 0px;
  padding-bottom: 10px;
  background-size: 100% 30px;
  position: relative;
  line-height: 30px;
  overflow-y: scroll;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
    0px 0px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
    0px 0px 6px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 30px;
    height: 100%;
    width: 1px;
    background: #db4034;
  }
  header {
    height: 150px;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    h1 {
      font-size: 60px;
      line-height: 60px;
      padding: 127px 20px 0 160px;
    }
  }
}

.aloja p {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Base button style */
.button {
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.button:nth-child(1) {
  background-color: #ffd700;
  color: #2c2c2c;
}

.button:nth-child(2) {
  background-color: #98fb98;
  color: #006400;
}

.button:nth-child(3) {
  background-color: #ffb6c1;
  color: #8b0000;
}

.button:nth-child(4) {
  background-color: #00bfff;
  color: #1c1c1c;
}

.button:nth-child(5) {
  background-color: #ff6347;
  color: #ffffff;
}

.button:nth-child(6) {
  background-color: #9400d3;
  color: #ffffff;
}

.button:nth-child(7) {
  background-color: #ffa07a;
  color: #4b0082;
}

.button:nth-child(8) {
  background-color: #3cb371;
  color: #228b22;
}

.button:nth-child(9) {
  background-color: #ff4500;
  color: #ffffff;
}

.button:nth-child(10) {
  background-color: #4682b4;
  color: #ffffff;
}

/* Leaderboard.module.css */
.leaderboardContainer {
  background-color: #0d0d0d;
  color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.activeTab {
  border-bottom: 2px solid #4caf50;
}

.leaderboardList {
  list-style: none;
  padding: 0;
}

.leaderboardEntry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  /* styles for avatar */
}

.username {
  flex-grow: 1;
  margin-left: 10px;
}

.score {
  font-weight: bold;
}

/* Add media queries for responsiveness */
@media (max-width: 600px) {
  .leaderboardContainer {
    /* Adjust styles for mobile */
  }
}
